body
{
	min-height: 100vh;
	background-color: #CCC;
	background-image: url('https://unsplash.it/g/1500/800?random');
}

.login-form
{
	margin-top: 50vh;
	height: 300px;
	background-color: red;

	transform: translateY(-50%);
}